<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>VEVO Project - Video List</title>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />

        <!--Use bundling and minification before production -->
        <!--<link rel="stylesheet" type="text/css" href="/Content/css" />-->

        <link rel="stylesheet" type="text/css" href="Content/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="Content/bootstrap-theme.css" />
        <link rel="stylesheet" type="text/css" href="Content/ng-grid.css" />
        <link rel="stylesheet" type="text/css" href="Content/app/main.css" />
        <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />        
    
    </head>
    <body data-ng-app="vevo" data-ng-controller="maincontroller">
        <br />
        <div class="container"> <!---fluid-->
            <div class="row">
                <div class="col-xs-11">
                    <img src="Content/Assets/Vevo_logo.svg" alt="VEVO" />
                </div>
                <div class="col-xs-1"><a id="lnkAPIHelp" class="btn btn-sm btn-default" href="//localhost:15446/help/">API Help</a></div>
            </div>
            <br />
            <div class="row">
                <div class="loader" data-ng-show="showLoader"><img src="Content/Assets/spinner-gif-red.gif" alt="" /></div>
                <div class="col-xs-8">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Description</th>                                
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="video in videosList">
                                <td>{{video.vevoVideo.title}}</td>
                                <td>{{video.vevoVideo.description}}</td>
                                <td><button id="btnRemove" class="btn btn-xs btn-danger" data-ng-click="removeVideo(video.key)">Remove</button></td>
                            </tr>
                            <tr>
                                <td>
                                    <button id="btnAdd" class="btn btn-xs btn-info" data-ng-show="addNewVideo === false" data-ng-click="showAddVideo()">Add Video</button>
                                    <button id="btnCancel" class="btn btn-xs btn-warning" data-ng-show="addNewVideo" data-ng-click="cancel()">Cancel</button>
                                </td>
                                <td></td>                                
                                <td></td>                                
                            </tr>
                        </tbody>
                    </table>                    
                </div>
            </div>        
            <br />
            <div class="row" data-ng-show="addNewVideo">
                <div class="col-xs-6">
                    <form class="form-horizontal" data-novalidate="novalidate" name="vevoForm" role="form" data-ng-submit="addVideo()">
	                    <div class="form-group">
		                    <label id="title" class="col-xs-2 control-label">Title</label>
		                    <div class="col-xs-5">
			                    <input type="text" placeholder="Enter Video Title" class="form-control" name="title" data-ng-model="title" data-required="required"/>                                
		                    </div>
                            <div class="col-xs-2"><small class="label label-danger" data-ng-show="vevoForm.title.$error.required && formSubmitted"><small class="glyphicon glyphicon-alert" title="required"></small></small></div>
	                    </div>
	                    <div class="form-group">
		                    <label id ="description" class="col-xs-2 control-label">Description</label>
		                    <div class="col-xs-5">
			                    <input type="text" placeholder="Enter Description" class="form-control" name="description" data-ng-model="description" data-required="required"/>                                
		                    </div>
                            <div class="col-xs-2"><small class="label label-danger" data-ng-show="vevoForm.description.$error.required && formSubmitted"><small class="glyphicon glyphicon-alert" title="required"></small></small></div>
	                    </div>	                    
	                    <div class="form-group">
                            <div class="col-xs-4 col-xs-offset-2">
			                    <input type="submit" value="Submit" class="btn btn-xs btn-primary"/>                                		                    
                            </div>
	                    </div>
                    </form>
                </div>
            </div>
        </div>

        <!--Use bunding and minification before production-->
        <!--<script src="/bundles/scripts"></script>-->

        <script src="Scripts/jquery-2.1.3.js"></script>
        <script src="Scripts/bootstrap.js"></script>
        <script src="Scripts/angular.js"></script>
        <script src="Scripts/angular-ng-grid.js"></script>
        <script src="Scripts/app/vevo.js"></script>
        <script src="Scripts/app/factory.js"></script>
        <script src="Scripts/app/main.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
        <script>
            //Error/Message Notification
            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }
        </script>
    </body>
</html>
